<a href="https://colab.research.google.com/github/sunilkm11/SUNIL-K-M-11/blob/master/Copy_of_Capstone_Project1_Introduction_to_Computer_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Guidelines**


**1. About the Project:**

The Introduction to Computer Programming project is designed to evaluate your understanding and practical application of fundamental programming concepts using Python. This assessment encompasses various topics, including data types, indexing, slicing, operators, in-built functions, statements, conditionals, loops, object-oriented programming, and exception handling. In addition, you will showcase your ability to create custom functions and tackle advanced looping concepts.

**2. Skills Required:**

  To successfully complete this project assessment, you should possess the following skills and knowledge:
- Proficiency in Python programming language
- Understanding of data types, indexing, and slicing in Python
- Familiarity with operators, in-built functions, and methods
- Ability to work with statements, indentation, and conditionals
- Competence in implementing loops and iterations, including conditional and infinite looping
- Mastery of creating and utilizing custom functions in Python
- Knowledge of advanced looping concepts
- Understanding of object-oriented programming (OOPs) principles in Python
- Ability to handle exceptions in your code

**3. Deliverables:**

You are required to submit the following items for evaluation:
- Completed Python coding solutions for the given questions (coding assessment)
- Collab link containing your Python code for each question
- Video explanation for any five coding questions (demonstrating your understanding and approach)

**4. Rubrics:**

Your project assessment will be evaluated based on the following rubrics:

**a. Coding Assessment:**

- Correctness of the code solution
- Efficient use of coding constructs
- Clear and well-structured code organization

**b. Collab Link:**

- Submission of Python code through the provided Collab link
- Proper organization of code files and resources

**c. Video Explanation:**

- Clear articulation of solution approach
- Coverage of important concepts and logic
- Coherent and well-structured explanation

Please use these pointers as the basis for evaluating each section of the project assessment.

# **CodeStorm Challenge: Solving and Explaining Complex Coding Problems**

**Problem Statement:**

The CodeStorm Challenge is an intense coding competition designed to test participants' programming skills, problem-solving abilities, and communication prowess. In this challenge, participants will be required to solve a total of 30 intricate coding questions that cover a wide range of algorithms, data structures, and programming paradigms. Additionally, participants are tasked with creating an explanatory video that delves into the solutions of any five chosen questions.

The challenge aims to evaluate participants on their coding efficiency, algorithmic thinking, and presentation skills. Participants will need to not only implement correct and optimized solutions to the coding problems but also effectively communicate their thought processes and strategies in the form of a video presentation.

**Key Objectives:**

* Coding Proficiency: Participants must demonstrate their ability to write clean, efficient, and bug-free code to solve complex programming challenges within a time-constrained environment.

* Problem Solving: The challenge will encompass a variety of problem domains, including dynamic programming, graph algorithms, string manipulation, and more. Participants should showcase their prowess in breaking down problems, designing algorithms, and translating solutions into code.

* Communication Skills: In addition to coding skills, participants need to exhibit strong communication skills by creating a comprehensive video explaining the thought process, approach, and solution to five selected problems. Clarity, conciseness, and coherence in the video are essential.

* Time Management: Participants will need to efficiently manage their time throughout the challenge, allocating sufficient time to solve each question and ensuring they have ample time to create high-quality explanatory videos.

* Adaptability: As the challenge encompasses a diverse set of coding problems, participants must be adaptable in applying different algorithms and techniques to solve problems that may vary in difficulty and complexity.

**Note:**

1. Solve 30 coding problems out of the different problem statements given here.
2. Create a video explaining any 5 questions and include the video link before submitting.

# **Introduction to Python Programming**

In [ ]:
# Score Board Operator

# An operator working behind the scoreboard of a inter cohort AlmaBetter cricket tournament, is responsible for updating the scores and points of each team. However, the operator is currently facing a challenge. He has been tasked with updating the total number of points gained by Team London, but he does not possess the necessary programming skills to complete this task. According to the tournament's rules, teams are awarded the following points based on the outcome of a match:

#     wins: 3 points
#     draws: 1 point
#     losses: 0 points

# Team London has played 8 matches in this tournament. They won 4 matches, lost 3 matches and drew 1. The operator is in need of assistance to calculate the total number of points earned by Team London. As a python expert adept with knowledge of integer, floats and boolean, you can help the operator by writing a solution for the following problem.

# What would your approach be?

wins = 3
draws = 1
losses = 0

Won = 4
lost = 3
drew = 1

Total = (wins*Won)+(losses*lost)+(draws*drew)
print(Total)

13

## Nutrition bar ingredient chart

Imagine you are a data analyst at a nutrition bar manufacturing company. Your department head approaches you with a question. The company produces a nutrition bar that contains **45g of raisins, 65g of almonds, and 30g of apricots**. The head of the manufacturing department wants you to create an ingredient percentage list for the nutrition bar using python.

Equipped with the knowledge of int, float and booleans in python, how would you approach this situation?

In [ ]:

# Calculate the percentage of raisins and print the variable
raisins= 45
almonds= 65
apricots=30

per_raisin = (raisins/(raisins+almonds+apricots))*100
print('per_raisin :' , per_raisin)

per_almonds = (almonds/(raisins+almonds+apricots)*100)
print("per_almonds :" , per_almonds)

per_apricots = (apricots/(raisins+almonds+apricots)*100)
print("per_apricots : " , per_apricots)

per_raisin : 32.142857142857146
per_almonds : 46.42857142857143
per_apricots :  21.428571428571427

In [ ]:
# Measuring the Accuracy of a Disease Detection Model- Optional

# If you're not impressed with these usecases yet, understand that you're just getting started with python. Going forward as a data scientist,
#you'll be using what you've learned to design machine learning models that just might even save lives!!

# Let's say you have created a machine learning model to detect diseases in patients based on their symptoms and medical history.
#The model has been tested on a dataset of 100 patients, including 30 with diabetes, 45 with heart disease, and 25 with cancer.
#The model's performance was evaluated in three rounds. In the first round,
#the model correctly detected diabetes in 25 out of the 30 patients with the disease.
#In the second round, the model correctly detected heart disease in 35 out of the 45 patients with the disease. In the final round,
#the model correctly detected cancer in 20 out of the 25 patients with the disease.

# The model's accuracy is defined as the percentage of correctly detected cases out of the total number of patient

# Assess how accurate your model is across these 3 diseases.


# Store the number of heart disease patients
Total_heart_d = 45
heart_detected = 35

# Store the number of diabetes patients
Total_diabetes_d = 30
diabete_detected = 25

# Store the number of cancer patients
Total_cancer_d = 25
cancer_detected = 20

# Store the number of your correct guesses of heart disease patients
currect_guess_heart = (heart_detected/Total_heart_d)*100
print("currect_guess_heart :", currect_guess_heart)

# Store the number of your correct guesses of diabetes patients
currect_guess_daibetes = (diabete_detected/Total_diabetes_d)*100
print('currect_guess_daibetes :', currect_guess_daibetes)

# Store the number of your correct guesses of cancer patients
currect_guess_cancer = (cancer_detected/Total_cancer_d)*100
print('currect_guess_cancer :', currect_guess_cancer)

currect_guess_heart : 77.77777777777779
currect_guess_daibetes : 83.33333333333334
currect_guess_cancer : 80.0

In [ ]:
# You must remember the algebraic equations and functions you came across during your school days. If you do, you also must remember how tedious it was to do solve them manually. ðŸ˜« Consider a quadratic function:

# f(x)=x^2+3x-4

# Find the value of f(x) at x =3 , x=-2, and x=4

# Doing this manually like the old days would be a tedious job ðŸ˜ž. But now you have python at your disposal ðŸ™‚ ! How would you approach this problem using what you have learned?


# Calculate the value of the function f(x) at x = 3
x = 3
func_evaluated_at_3 = x**2+3*x-4
print("func_evaluated_at_3 :" , func_evaluated_at_3)

# Calculate the value of the function f(x) at x = -2
x = -2
func_evaluated_at_minus2 = x**2+3*x-4
print("func_evaluated_at_minus2 :", func_evaluated_at_minus2)

# Calculate the value of the function f(x) at x = 4
x = 4
func_evaluated_at_4 = x**2+3*x-4
print("func_evaluated_at_4 : ",func_evaluated_at_4)

func_evaluated_at_3 : 14
func_evaluated_at_minus2 : -6
func_evaluated_at_4 :  24

In [ ]:
#Check if func_evaluated_at_3 >= func_evaluated_at_minus2
func_evaluated_at_3 >= func_evaluated_at_minus2

True

In [ ]:
#Check if value of f(x) at 3,-2 or 4 is equal to 0 or not
func_evaluated_at_3 and func_evaluated_at_minus2 and func_evaluated_at_4 == 0

False

# Finding total A's in the Bookshelves

# In your pursuit of expanding your knowledge of Python, you come across a bookstore in search of books on the subject.

# There, you meet a salesperson who is also a Python enthusiast!!

# The salesperson presents you with a challenge - they have a list of five books related to Python and if you can write a program that finds the count of letter 'e', the store will give you a free book of your choice. ðŸ˜€

# Are you ready to accept the challenge? ðŸ’ª

In [ ]:
# Here's the list of books
books = "Python for Everyone, Learn Python the Hard Way, Python Crash Course , Starting Out with Python, Automate the Boring Stuff with Python"

In [ ]:
# Store the count of books containing A/a in the title. Note this will be a case insensitive search

e_counts = 0
if 'e' in books:
  e_counts += 1
  print(e_counts)

E_counts= 0
if 'E' in books:
  E_counts +=1
  print(E_counts)
total_a_counts= e_counts + e_counts

1
1

In [ ]:

# Print the value
print(f"The total number of 'e's in the list of books is {total_a_counts}")

The total number of 'e's in the list of books is 2

## Unleashing the Power of Mean in Exam Analysis

When analyzing exam scores, teachers have the power to unlock valuable insights into their students' performance. By using the mean and median, they can get a clear picture of how the class is doing as a whole and identify areas where improvement is needed.

The mean score is like a report card for the entire class, showing the average of all exam scores. It gives a good general idea of how the class is doing but can be influenced by a few students with extremely high or low scores.

By analysing the mean, teachers can get a complete picture of the class performance and make informed decisions to improve the learning experience for their students. So go ahead and use these powerful tools to take your students' exam scores to the next level! ðŸ’ª

In [ ]:
# List of student marks

marks = [67,87,75,46,89,97,68,98,87,88]

In [ ]:
# Calculate the mean of the marks. Use sum() and len() functions
mean_marks = sum(marks)/len(marks)

In [ ]:
print(mean_marks)

80.2


John's Fruit Stand Sales Mix-up

You must remember from the previous lessons that dictionaries can be used to store values corresponding to a particular key. But how is this helpful to us?

Let's look at this scenario:

Jim owns a quaint little fruit stand that sells mangoes, bananas, apples, and pineapples. One day, with Jim being tied up, he tasked his son John to manage the shop for a day. Being new to the game, John recorded the sales data in an unconventional way. He wrote down the name of each fruit as many times as it was sold, creating a list like this:

['Mango','Mango','Mango','Pineapple','Pineapple','Pineapple','Apple','Mango','Banana','Apple','Banana','Apple','Pineapple','Apple','Apple','Pineapple','Pineapple'] ðŸ¤¦

But, this method is not very efficient or easy to read.

Forunately you were there at the shop to grab some apples yourselves, and you saw what John was doing.

You can help him out to structure the data by using dictionaries. How?

In [ ]:
#Here's John's list:
fruit_list=['Mango','Mango','Mango','Pineapple','Pineapple','Pineapple','Apple','Mango','Banana','Apple','Banana','Apple','Pineapple','Apple','Apple','Pineapple','Pineapple']

In [ ]:
# Step 2: Create an empty dictionary which will contain the unique fruit names
fruit_dict={}

# Set the values for each key separately

# First Key
fruit_dict['Mango']= fruit_list.count('Mango')

# Second Key
fruit_dict['Pineapple']= fruit_list.count('Pineapple')


# Third Key
fruit_dict['Apple']= fruit_list.count('Apple')

# Fourth Key
fruit_dict['Banana']= fruit_list.count('Banana')

In [ ]:
print(fruit_dict)

{'Mango': 4, 'Pineapple': 6, 'Apple': 5, 'Banana': 2}

## Imagine that you are a superhero movie buff and you're trying to create a list of the most iconic Marvel characters. You have compiled a list of some of the most popular characters, but you want to narrow it down to the top 6.

Here's your list of characters:

marvel_words = ['Avengers', 'X-Men', 'Spider-Man', 'Iron Man', 'Hulk', 'Thor', 'Black Widow', 'Captain America', 'Wolverine', 'Doctor Strange', 'Namor']

In [ ]:
# Here's your list of characters:

marvel_words = ['Avengers', 'X-Men', 'Spider-Man', 'Iron Man', 'Hulk', 'Thor', 'Black Widow', 'Captain America', 'Wolverine', 'Doctor Strange', 'Namor']

You want to narrow down the list to the last 6 characters in the list. These characters are:

* Namor
* Doctor Strange
* Wolverine
* Captain America
* Black Widow
* Thor

Write a code to slice these characters from the list

In [ ]:
# Replace x with appropriate values
new_marvel=marvel_words[-1:-7:-1]
print(new_marvel)

['Namor', 'Doctor Strange', 'Wolverine', 'Captain America', 'Black Widow', 'Thor']

## Create two teams of superheroes based on their index position: one team should consist of all the characters located at even index positions, while the other team should consist of all the characters located at odd index positions.

In [ ]:
team1=marvel_words[1::2]
print("even index character :",team1)  #Add appropriate index and step size

team2 = marvel_words[::2]
print("odd index character :",team2)

even index character : ['X-Men', 'Iron Man', 'Thor', 'Captain America', 'Doctor Strange']
odd index character : ['Avengers', 'Spider-Man', 'Hulk', 'Black Widow', 'Wolverine', 'Namor']

###3. Store the word 'Spider-Man' in a new variable, and slice the word 'Spider' from it.

In [ ]:
spider_man=marvel_words[2] # Add appropriate index number
spidey_sliced=spider_man[::-1] # Add appropriate index number
print(spidey_sliced)

naM-redipS

###4. Store the word 'Iron-Man' in a variable and use reverse indexing to reverse it.

In [ ]:
#Your code here
iron_man=marvel_words[3]
reversed_man=iron_man[::-1]
print(reversed_man)

naM norI


## ðŸŽ‰ Let's do some math!

* ðŸ“ First up, let's calculate the area of a square with sides that measure 5 cm. ðŸ¤” How much space does this shape occupy?

* ðŸ” Next, let's find the volume of a cube with sides that measure 12 cm. ðŸ“ How much room does this shape take up?

* ðŸ”¢ Lastly, we'll find the quotient and remainder when we divide 10 by 4. ðŸ§ How many times does 4 fit into 10? What's left over?

In [ ]:
side1 = 5
ar_square= side1**2
side2 = 12
vol_cube= side2**3

quotient= 10//4
remainder=10%4

print(remainder)
print(quotient)
print(vol_cube)
print(ar_square)

2
2
1728
25

## ðŸ“š Let's practice some comparison operators! Here's a problem for you to solve:

ðŸŽ The first basket contains 12 apples, and the second basket contains 8 apples. Use comparison operators to answer the following questions:

* Is the number of apples in the first basket greater than the number of apples in the second basket?

* Is the number of apples in the second basket less than or equal to the number of apples in the first basket?
* Is the number of apples in the first basket equal to the number of apples in the second basket?
* Is the number of apples in the second basket not equal to the number of apples in the first basket?

Use comparison operators (i.e. >, >=, <, <=, ==, !=) in your code to answer each question. Good luck! ðŸŽðŸ

In [ ]:
# Your code here
basket1=12
basket2=8

#Is the number of apples in the first basket greater than the number of apples in the second basket?
a = basket1>basket2
print(a)

#Is the number of apples in the second basket less than or equal to the number of apples in the first basket?
b = basket2 <= basket1
print(b)

#Is the number of apples in the first basket equal to the number of apples in the second basket?
c = basket1 == basket2
print(c)

#Is the number of apples in the second basket not equal to the number of apples in the first basket?
d = basket2 != basket1
print(d)

True
True
False
True

## ðŸŒ´ Are you ready for your trip to Goa? ðŸŒŠ You've got two bags with you, and you need to make sure they're light enough to board the flight. Let's use some logical operators to find out if you can make it on time!

ðŸ§³ One of your bags weighs 15 kg, while the other one weighs only 5 kg. ðŸ’ª You know you can pack a lot more in the heavier bag, but you have to be careful not to go over the weight limit.

ðŸ‘®â€â™€ï¸ The airline has a strict policy that both of your bags must weigh less than 13 kg each. Can you make it on the flight? Let's use logical operators to find out!

In [ ]:
# Define the weight of your bags
bag1_weight = 15
bag2_weight = 5

# Check if both bags weigh less than 13 kg
if bag1_weight < 13 and bag2_weight < 13:
  print("Enjoy your trip! ")
else:
  print("Sorry, You can not go through!")

Sorry, You can not go through!

In [ ]:
print("Sorry, You can not go through!")

ðŸ§³ Uh oh, it looks like we have a problem with our bags! But don't worry, the crew has offered a solution. ðŸ˜Š

ðŸ‘¨â€âœˆï¸ They've said that if at least one of our bags weighs less than 6 kg, we can still board the flight this time. ðŸ›«

ðŸ¤” Are we ready for the trip or not? Let's use some logical operators to find out!

In [ ]:
# Define the weight of your bags
bag1_weight = 15
bag2_weight = 5

# Check if at least one bag weighs less than 6 kg
# If the result is False, print("Sorry, You can not go through!")
# Else, if the result is True, print("Enjoy your trip!")

In [ ]:
if bag1_weight < 6 or bag2_weight < 6:
  print("Enjoy your trip!")
else:
  print("Sorry, You can not go through!")

Enjoy your trip!

ðŸ¤” Did you notice how we made a decision on which print statement to use based on the result of our logical operators? ðŸ¤”

ðŸš€ Later on, we're going to learn how to do this in a single step, making it even easier for you. So stay curious ðŸ˜Ž

## ðŸ“š Imagine that you're a book lover with a collection of lot of books. ðŸ¤“

ðŸ”Ž You need to find out how many of your books contain the word "Python" in them. ðŸ

In [ ]:
books = [
    "Python for Data Science Handbook by Jake VanderPlas",
    "The Pragmatic Programmer by Andrew Hunt and David Thomas",
    "Python Machine Learning by Sebastian Raschka",
    "The Alchemist by Paulo Coelho",
]

In [ ]:
count = 0
for book in books:
  if 'Python' in book:
    count +=1
print(count)
# If True, increase the count variable by 1.

2

# **In-Built Functions & Methods**

## Here is a string for you to work with:

In [ ]:
# Here is the statement.

statement = "anas eagerly recommended 'the shawshank redemption' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend."

In [ ]:
# Create a list containing the three sentences in the statement.

sentence_list= statement.split('.')
print(sentence_list)

["anas eagerly recommended 'the shawshank redemption' to his friends", ' He described the movie as a captivating and emotional story of hope and friendship', ' His friends decided to watch it together the following weekend', '']

In [ ]:
# The name 'anas' is spelled wrong.
# Replace it with 'Anas'.

correction_statement =  statement.replace('anas','Anas') #Redefine the statement, with the correction.
print(correction_statement)

Anas eagerly recommended 'the shawshank redemption' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend.

3. The title of the book is not written in the correct cases as well. Make corrections there.

In [ ]:
# Make corrections here.
Title_statement= statement.replace('the shawshank redemption', "The Shawshank Redemption")
print(Title_statement)

new_statement = statement.title()
print(new_statement)

anas eagerly recommended 'The Shawshank Redemption' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend.
Anas Eagerly Recommended 'The Shawshank Redemption' To His Friends. He Described The Movie As A Captivating And Emotional Story Of Hope And Friendship. His Friends Decided To Watch It Together The Following Weekend.

4. You believe "The Shawshank Redemption" would be bit too gloomy for the lot. Take user input of which movie to recommend and replace "The Shawshank Redemption" from the statement with the new recommendation.

In [ ]:
# Change the recommendation of movie to one, of your choice.
# Take input of movie

new_movie=input("Which movie wold you recommend? ")
New_movie_statement= statement.replace("the shawshank redemption",new_movie)
print(New_movie_statement)

Which movie wold you recommend? leo
anas eagerly recommended 'leo' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend.

## ðŸŽ¥ Suppose you have a collection of your favorite movies ðŸ¿ðŸŽžï¸ and you want to keep track of them using a Python list ðŸ“œ. You start with an empty list [] and keep adding new movies ðŸ†• to it. You also want to be able to remove movies âŒ that you have watched or no longer wish to keep in your collection. Finally, you want to be able to count ðŸ”¢ how many movies you have in your collection and reverse the order of the list ðŸ”„.

In [ ]:
# Start with an empty list
movie_collection = []

# Add some movies to the collection using the append() method
movie_collection.append("Jawan") # Use your favourite movie names
movie_collection.append("Gadar 2")
movie_collection.append("John wick 4")
movie_collection.append("Black Adam")
movie_collection.append("Tiger 3")

# Print the current collection of movies
print("My Movie Collection:", movie_collection)

# Remove a movie from the collection using the pop() method
# Code to remove index 3 here
movie_collection.pop(3)
print("After removing movie 4", movie_collection)

# Count how many movies are in the collection using the count() method
num_movies = len(movie_collection)
print("Number of movies:", num_movies)

# Reverse the order of the list using the reverse() method
movie_collection.reverse()

print("Reversed movie collection:", movie_collection)

My Movie Collection: ['Jawan', 'Gadar 2', 'John wick 4', 'Black Adam', 'Tiger 3']
After removing movie 4 ['Jawan', 'Gadar 2', 'John wick 4', 'Tiger 3']
Number of movies: 4
Reversed movie collection: ['Tiger 3', 'John wick 4', 'Gadar 2', 'Jawan']

## ðŸ‘©â€ðŸ« A teacher has stored the names of his students in a tuple as follows:
('Adam','Alice','Ben','Bilal','Bharath')

ðŸ‘¨â€ðŸŽ“ Their role numbers are defined as their index number + 1.

ðŸ–¥ï¸ Write a program which would take the name of the student as input and return their role number.

In [ ]:
student_tupple=('Adam','Alice','Ben','Bilal','Bharath')

In [ ]:
# Take input from user and display role number as index of the input + 1
student=input("Input the student name to get roll number - ")
print(student,"'s roll number is: ", student_tupple.index(student)+1) # Replace x with appropriate value

Input the student name to get roll number - Ben
Ben 's roll number is:  3

## A store ðŸª sells different types of fruits ðŸŽðŸŒðŸ‡ðŸ“ in baskets ðŸ§º. The storekeeper ðŸ§‘ keeps track of the availability of each fruit type in separate sets. The storekeeper wants to know which fruits are available in both baskets, which fruits are unique to each basket, and the total number of fruits available. ðŸ¤”

In [ ]:
# Define sets for fruits in each basket
basket1 = {'apple', 'banana', 'grape', 'orange'}
basket2 = {'banana', 'mango', 'pineapple', 'orange'}

# Find the total number of fruits available
total_fruits = len(basket1) + len(basket2)
print("Total number of fruits available:", total_fruits)

# Find fruits available in both baskets
both_baskets = basket1 | basket2   # Replace x with appropriate method
print("All the available fruits:", both_baskets)

# Find only the common fruits in both baskets
common_fruits = basket1 & basket2   # Replace x with appropriate method
print("Common fruits in both baskets:", common_fruits)

# Find fruits unique to each basket
unique_basket1 = basket1 - basket2    # Replace x with appropriate method
unique_basket2 = basket2 - basket1    # Replace x with appropriate method
print("Fruits unique to basket 1:", unique_basket1)
print("Fruits unique to basket 2:", unique_basket2)

Total number of fruits available: 8
All the available fruits: {'grape', 'orange', 'apple', 'banana', 'mango', 'pineapple'}
Common fruits in both baskets: {'banana', 'orange'}
Fruits unique to basket 1: {'apple', 'grape'}
Fruits unique to basket 2: {'mango', 'pineapple'}

## ðŸ‘‰ Imagine that you are a food inspector who is responsible for inspecting the lead content of a packaged food material at a factory. If the content exceeds 5%, you should print the message "This batch cannot be approved".

In [ ]:
# Get the lead content of the packaged food material
lead_content = float(input("Please enter the lead content of the packaged food material in percentage: "))

# Check if the lead content exceeds 5%
if lead_content > 5:
  print('This batch cannot be aprroved')
else:
  print('This batch is aprroved')

Please enter the lead content of the packaged food material in percentage: 5
This batch is aprroved

## ðŸ‘‰ Imagine: You're a bouncer at a nightclub and need to check if someone is old enough to enter. The legal age for entry is 18 years. If the person is less than 18 years print "Sorry You can not enter!".

In [ ]:
age = int(input("enter the age: "))

#Check the age of the guest
if age > 18:
  print('"Welcome"')
else:
  print('Sorry you can not enter')

enter the age: 23
"Welcome"

## ðŸ‘‰ Imagine you are a fitness instructor who needs to evaluate if a client has reached their weight loss goal. The target weight loss goal is 10 pounds. If the client has lost at least 10 pounds, you should print the message "Congratulations, you have reached your weight loss goal!" However, if the client has lost less than 10 pounds, you should print "Sorry, you have not reached your weight loss goal yet. Keep up the good work!"

In [ ]:
# Get the client's weight loss
client_weight_loss = float(input("Please enter the client's weight loss (in pounds): "))

# Check if the client reached their weight loss goal
if client_weight_loss >= 10:
  print('"Congratulations, you have reached your weight loss goal!"')
else:
  print('"Sorry, you have not reached your weight loss goal yet. Keep up the good work!"')

Please enter the client's weight loss (in pounds): 10
"Congratulations, you have reached your weight loss goal!"

##ðŸ‘‰ Imagine: You're a gardener and need to check if a plant needs watering. If the soil moisture level is below 40%, print "Water the plant!", otherwise, print "The plant doesn't need watering."

In [ ]:
# Take input of moisture level
moisture_level = int(input("Enter moisture level "))

#Check if moisture level is satisfactory or not
if moisture_level < 40:
  print('"Water the palnt"')
else:
  print('''"The plant doesn't need watering."''')

Enter moisture level 30
"Water the palnt"

##ðŸ“¦ðŸ“¬ðŸšš Creating a shipping cost calculator! âš™ï¸

You need to create a program that calculates the cost of shipping a package based on its weight and destination ðŸ“¦ðŸ’°

ðŸŒ Domestic shipping within the country :

* Packages weighing up to 1 kg cost Rs.50 to ship ðŸ¤‘
Each additional kg costs Rs.10 extra ðŸ’°

ðŸŒŽ International shipping to other countries ðŸŒ:

* Packages weighing up to 1 kg cost Rs.500 to ship ðŸ¤‘

Each additional kg costs Rs.100 extra ðŸ’°
Ready to ship? ðŸš›ðŸš€

In [ ]:
destination = input('Enter the Destination: ').lower()
weight = int(input('Enter the weight of your package: '))

if destination == 'domestic':
  if weight <= 1:
    cost = weight*50
    print(cost)
  else:
    cost = (1*50)+((weight-1)*10)
    print(cost)
elif destination == 'international':
  if weight <=1:
    cost = weight*500
    print(cost)
  else:
    cost = (1*500)+((weight-1)*100)
    print(cost)

Enter the Destination: international
Enter the weight of your package: 3
700

## ðŸš— As a car dealership manager, you need to create a discount system for your customers based on the price of the car they want to buy. Here are the rules! ðŸ“

ðŸš˜ If the car price is less than Rs. 10,00,000, there is no discount.

ðŸŽ If the car price is between Rs. 10,00,000 and Rs. 20,00,000, there is a discount of 5%.

ðŸŽ‰ If the car price is between Rs. 20,00,000 and Rs. 30,00,000, there is a discount of 7.5%.

ðŸ¥³ If the car price is greater than Rs. 30,00,000, there is a discount of 10%.

Are you ready to make your customers happy with these discounts? ðŸš—ðŸ’°

In [ ]:
car_price = int(input())

if car_price < 1000000:
  discount = car_price
  print('No discount')
elif car_price < 2000000:
  discount = car_price*0.95
  print('5% of discount')
elif car_price < 3000000:
  discount = car_price*0.925
  print('7.5% of discount')
else:
  discount = car_price*0.9
  print('10% discount')

3000000
10% discount

## You and your friends are playing a board game where you roll a dice and move your game piece accordingly. However, you want to know the average number rolled by each player to see who's really the luckiest. Write a program that takes a list of rolls as input for each player and uses a for loop to calculate the average roll for each player. The winner gets bragging rights for being the luckiest!

![dice-gif.gif]()

In [ ]:
player_rolls = [
    [3, 5, 6, 2, 1],  # player 1's rolls
    [4, 4, 6, 3, 2],  # player 2's rolls
    [1, 5, 6, 6, 4]   # player 3's rolls
] # list of a list

In [ ]:
new_players = []
for i,player in enumerate(player_rolls):
  lenght = len(player)
  sums = sum(player)
  new_players.append(sums/lenght)
  print('The average of player',i+1, 'is', sum(player)/len(player))
print('Maximum average is', max(new_players))

The average of player 1 is 3.4
The average of player 2 is 3.8
The average of player 3 is 4.4
Maximum average is 4.4

## Write a Python program that analyzes a list of names and sorts them into two categories: those that start with a vowel and those that start with a consonant. To achieve this, you'll use a nested loop and some basic conditional statements.

In [ ]:
names = ["Alice", "Bob", "Eve", "Charlie", "Ivy", "David", "Olivia", "Peter"]

In [ ]:
#names = ["Alice", "Bob", "Eve", "Charlie", "Ivy", "David", "Olivia", "Peter"]
vowel = []
consonant = []
for name in names:
    if name[0] in 'aeiouAEIOU':
      vowel.append(name)
    else:
      consonant.append(name)
print(vowel)
print(consonant)

['Alice', 'Eve', 'Ivy', 'Olivia']
['Bob', 'Charlie', 'David', 'Peter']

## You are a teacher and you have a dictionary containing the grades of your students in a particular subject. The keys of the dictionary are the names of the students, and the values are their respective grades. You need to find the students who scored above 90% and print out their names.

In [ ]:
# Define the grades dictionary
grades = {
    'Alice': 85,
    'Bob': 92,
    'Charlie': 88,
    'David': 95,
    'Emily': 78,
    'Frank': 91
}

# Write Your Code Here
for name,grade in grades.items():
  if grade > 90:
    print("Student's scored above 90 - ",name,grade)

Student's scored above 90 -  Bob 92
Student's scored above 90 -  David 95
Student's scored above 90 -  Frank 91

## You're given a nested list of numbers, and your task is to count the number of odd and even numbers in the list. To achieve this, you'll use a nested loop and some basic conditional statements.

List - numbers = [
    [2, 5, 11, 20, 8],
    [9, 4, 15, 28, 17],
    [1, 6, 21, 18, 3],
    [10, 13, 25, 33, 30],
    [14, 7, 16, 19, 22]
]

In [ ]:
# List of numbers
numbers = [
    [2, 5, 11, 20, 8],
    [9, 4, 15, 28, 17],
    [1, 6, 21, 18, 3],
    [10, 13, 25, 33, 30],
    [14, 7, 16, 19, 22]
]

# Your code here:
even = 0
odd = 0
for li in numbers:
  for num in li:
    if num % 2 ==0:
      even +=1
    else:
      odd +=1

print(even)
print(odd)

12
13

## Imagine you're organizing a chess tournament ðŸ†, where each player has to play against every other player. To achieve this, you can use nested loops in Python! Nested loops are simply loops within loops, and they come in handy when you need to perform tasks involving multiple levels of iteration.

In Python, you can nest 'for' loops, 'while' loops, or even a combination of both. Let's take a closer look at how nested loops work using our chess tournament scenario:

In [ ]:
# Write Your Code Here
players = ['Alice', 'Bob', 'Charlie', 'Diana']
for i in range(len(players)):
  for j in range(i+1,len(players)):
    print(players[i],players[j])

Alice Bob
Alice Charlie
Alice Diana
Bob Charlie
Bob Diana
Charlie Diana

## **Building a Simple Calculator**

In this activity, you will build a simple calculator using conditional looping in Python. The calculator will ask the user for two numbers and an operation (addition, subtraction, multiplication, or division), and then perform the operation on the two numbers.

In [ ]:
# Write code here
while True:
  num1 = int(input('Enter the number 1: '))
  num2 = int(input('Enter the number 2: '))
  operation = input('Enter the operation (+,-,*,/): ').lower()

  if operation == '+' or operation == 'addition':
    Answer = num1+num2
    print(Answer)
    break
  elif operation == '-' or operation == 'substraction':
    Answer = num1 - num2
    print(Answer)
    break
  elif operation == '*' or operation == 'multiplication':
    Answer = num1*num2
    print(Answer)
    break
  elif operation == '/' or operation =='division':
    if num2 > 0:
      Answer = num1/num2
      print(Answer)
      break
    else:
      print('Cannot divide by zero')
  else:
    print('Enter the correct operation')

Enter the number 1: 3
Enter the number 2: 4
Enter the operation (+,-,*,/): *
12

## **Building a Guessing Game**

In this activity, you will build a simple guessing game using conditional looping in Python. The game will generate a random number between 1 and 100, and the user will have to guess the number within a certain number of tries. The program will provide hints to the user after each guess, telling them whether their guess is too high or too low.

In [ ]:
import random

# Generate a random number between 1 and 100
secret_number = random.randint(1, 100)

# Write code here
tries = 5
count = 0
while count < tries:
  guess_num = int(input('Guess the number between (1 to 100) - '))
  count += 1
  if count == 4:
    print('You have only one chance left')
  if guess_num == secret_number:
    print('Congratulation, You guess the correct number.')
    break
  elif guess_num < secret_number:
    print('Guess the higher number.')
  elif guess_num > secret_number:
    print('Guess the lower number.')

if count == 5:
    print('Sorry, you missed the chance. The secret number was',secret_number)

Guess the number between (1 to 100) - 56
Guess the higher number.
Guess the number between (1 to 100) - 89
Guess the lower number.
Guess the number between (1 to 100) - 90
Guess the lower number.
Guess the number between (1 to 100) - 99
You have only one chance left
Guess the lower number.
Guess the number between (1 to 100) - 55
Guess the higher number.
Sorry, you missed the chance. The secret number was 66

## **Building a Fibonacci Sequence Generator**

In this activity, you will build a program that generates a Fibonacci sequence using conditional looping in Python. The Fibonacci sequence is a series of numbers in which each number is the sum of the two preceding numbers. The sequence starts with 0 and 1, and the next number in the sequence is the sum of the previous two numbers.

In [ ]:
# Write code here
num = int(input())
term1 = 0
term2 = 1

if num <= 0:
  print('Enter the valid number')
elif num == 1:
  print(term1)
else:
  print(f'Fibonacci sereies till {num} term')
  count = 2
  print(f"{term1},{term2}",end = ',')
  while count < num:
    next_term = term1+term2
    print(next_term,end = ',')
    next_term = term1+term2
    term1 = term2
    term2 = next_term
    count +=1

8
Fibonacci sereies till 8 term
0,1,1,2,3,5,8,13,

## **Counting the Digit**

You have been given a task to write a Python program that counts the number of times a specific digit appears in a range of numbers. You need to use a for loop to iterate over the range of numbers, and a while loop to check each digit in the number.

Example:

* Enter start number: 100
* Enter end number: 150
* Enter digit to count: 5
* The digit 5 appears 6 times between 100 and 150.

In [ ]:
# Write code here

start_digit = 100
end_digit = 150
digit_count = 5
count = 0

for i in range(start_digit,end_digit+1):
  string_digit = str(i)
  index = 0
  while index<len(string_digit):
    if int(string_digit[index]) == (digit_count):
      count +=1
    index +=1
print('The number 5 is appears',count,'times in a range of',start_digit,'to',end_digit)

The number 5 is appears 6 times in a range of 100 to 150

# **Custom Functions in Python**

## **Building a Calculator**


In this activity, we will create a custom function in Python to build a calculator that can perform basic arithmetic operations such as addition, subtraction, multiplication, and division.

**ðŸ’» Code:**

In [ ]:
# Define a function called calculator that takes three arguments: num1, num2, and operation
def Calculator(num1,num2,operation):
  try:
    if operation == '+' or operation == 'addition':
      result = num1+num2
    elif operation == '-' or operation == 'substraction':
      result = num1-num2
    elif operation == '*' or operation == 'multiplication':
      result = num1*num2
    elif operation == '/' or operation == 'division':
      if num2 > 0:
        result = num1/num2
      else:
        print('Second number should be greater than zero')
    else:
      print('Invalid operation')

    return result

  except ZeroDivisionError:
    return 'Cannot divide by zero'
  except UnboundLocalError:
    print('')

**ðŸ§ª Test Code:**

In [ ]:
# Test the calculator function
num1 = int(input('Enter the first number: '))
num2 = int(input('Enter the second number: '))
operation = input('Enter the operation: ')
Calculator(num1,num2,operation)

Enter the first number: 5
Enter the second number: 5
Enter the operation: *

25

## **Dice Rolling** ðŸŽ²

Roll a dice and display the result. ðŸŽ²

In [ ]:
def roll_dice(number):
  import random
  number=random.randint(1,6)
  return number
number = 0
print(f'The result is {roll_dice(number)}')

The result is 1

## **Celsius to Fahrenheit Converter**

Create a custom function that takes in a temperature in Celsius and returns the temperature in Fahrenheit.

**For example**: If the input temperature is 20 degrees Celsius, the output temperature should be 68 degrees Fahrenheit.

In [ ]:
# Define a function to convert celsius to fahrenheit
def farenhite(celsius):
  Fahrenheit = (celsius * 9/5) + 32
  return (f'The temperatur of {celsius} Celsius is {Fahrenheit} fahrenheit')


# Example usage
Celsius = int(input())
print(farenhite(Celsius))

20
The temperatur of 20 Celsius is 68.0 fahrenheit

## **Sum odd Numbers** âž–

In this activity, you will create a custom function in Python that takes a list of integers as an argument and returns the sum of all odd numbers in the list.

In [ ]:
# define sum_odd custom function
def sum_l(li):
  sum1 = 0
  for i in li:
    if i%2 != 0:
      sum1 += i
  return sum1

**ðŸ§ª Test Code:**

In [ ]:
# test here
li = eval(input())
print(sum_l(li))

[1,2,3,4,5,6]
9

ðŸ¤– Output should be in format:

If the input is [1, 2, 3, 4, 5, 6], then the output should be 9

# **Advanced Looping Concepts**

## **Lambda Functions**

ðŸ§‘â€ðŸ’» You are working as a Python developer for a startup company that has just received a project from a client. The client wants a program that can perform certain operations on lists using lambda functions. Your manager has assigned you the task of finding the sum of squared odd numbers from the list.

ðŸ‘‰ Hint: You have to use filter, map and reduce functions to get the task done.

In [ ]:
# Import reduce from functools module
from functools import reduce

# Create a list of numbers from 1 to 10
numbers = list(range(1, 11))

# Write your code here
li = list(filter(lambda x:x%2 !=0,numbers))
print(li)

squared_odd = list(map(lambda x:x**2,li))
print(squared_odd)

sum = reduce(lambda x,y:x+y,squared_odd)
print(sum)

[1, 3, 5, 7, 9]
[1, 9, 25, 49, 81]
165

## **Pizza Toppings**

ðŸ•ðŸ” You have two lists, one containing pizza toppings and the other containing burger toppings. You need to create a new list that contains all the toppings from both the pizza and burger toppings lists, but only if they have more than 5 characters in their name.

Can you write the code to create a new list that contains all the toppings from both the pizza and burger toppings lists, but only if they have more than 5 characters in their name using list comprehension only?

ðŸ‘‰ Hint: You can use a conditional statement to check the length of each topping's name.

In [ ]:
# Here are the example lists of toppings
pizza_toppings = ['mushroom', 'olive', 'tomato', 'pepperoni', 'onion', 'garlic']
burger_toppings = ['lettuce', 'cheese', 'mayonnaise', 'bacon', 'pickle', 'avocado']

# Write your code here
new_toppings = [(i) for i in pizza_toppings+burger_toppings if len(i)>5]
new_toppings

['mushroom',
 'tomato',
 'pepperoni',
 'garlic',
 'lettuce',
 'cheese',
 'mayonnaise',
 'pickle',
 'avocado']

## **Sales Data**

ðŸŒŽðŸ›ï¸ Suppose you work for a company that sells products in different countries. You have been given two lists: one containing the names of the countries where the company sells its products, and the other containing the sales data for each country. Your task is to create a dictionary where the keys are the country names, and the values are the corresponding sales data. However, the sales data should only include values that are greater than 1000. You are not allowed to use any loops, and must use list comprehension to solve the problem.

Can you write the code to create the desired dictionary using list comprehension?

ðŸ‘‰ Hint: You can use zip function to create pairs of country and sales data from the two lists.

In [ ]:

countries = ["USA", "Canada", "Mexico", "Brazil", "UK", "France", "Germany", "China", "India"]
sales = [2500, 300, 1200, 800, 500, 2000, 4000, 1000, 1500]

# Using zip function to create pairs of country name and sales data
pairs = list(zip(countries, sales))

# Creating a dictionary with country names as keys and sales data greater than 1000 as values
sales_dict = {country: sale for country, sale in pairs if sale > 1000}

print(sales_dict)

{'USA': 2500, 'Mexico': 1200, 'France': 2000, 'Germany': 4000, 'India': 1500}

## **Stock Filtering**

ðŸ“ŠðŸ“ˆ Suppose you are working for a company that deals with financial data. You have been given a list of dictionaries, where each dictionary contains the following information about a stock: name, ticker symbol, price, and percentage change in price. Your task is to create a new list of dictionaries, where each dictionary contains only the name and price of the stock, but only for those stocks where the price is greater than 100 and the percentage change is positive. You must use list comprehension to solve the problem.

Can you write the code to create the desired list of dictionaries using list comprehension?

ðŸ‘‰ Hint: You can use conditional statements to check if the price is greater than 100 and the percentage change is positive in the list comprehension.

In [ ]:
# Here is an example of the list of dictionaries
stocks = [
    {'name': 'Apple Inc.', 'ticker': 'AAPL', 'price': 120.0, 'change': 0.05},
    {'name': 'Microsoft Corporation', 'ticker': 'MSFT', 'price': 95.0, 'change': -0.02},
    {'name': 'Amazon.com, Inc.', 'ticker': 'AMZN', 'price': 250.0, 'change': 0.1},
    {'name': 'Alphabet Inc.', 'ticker': 'GOOGL', 'price': 110.0, 'change': 0.02},
    {'name': 'Facebook, Inc.', 'ticker': 'FB', 'price': 80.0, 'change': 0.03}
]

#creat new list of dictionary where each dictionary contain name & price stock : stock price > 100 and change +

new_stock = [{'name':stock['name'],'price':stock['price']} for stock in stocks if stock['price']>100 and stock['change']>0]

In [ ]:
new_stock

[{'name': 'Apple Inc.', 'price': 120.0},
 {'name': 'Amazon.com, Inc.', 'price': 250.0},
 {'name': 'Alphabet Inc.', 'price': 110.0}]

## **Duplicate Songs**

ðŸŽµðŸŽ¶ You have a list of songs that you like to listen to, but you notice that some of the songs have duplicate names. You want to create a new set that contains the unique names of all the songs and keep the songs whose name doesn't start with "S" and doesn't end with "n" in your list using set comprehension.

Can you write the code to create a new set that contains the unique names of all the songs in your list using set comprehension only?

ðŸ‘‰ Hint: Set comprehension is similar to list comprehension, but with curly braces {} instead of square brackets [].

In [ ]:
# Here's an example list of songs
songs = ['Bohemian Rhapsody', 'Stairway to Heaven', 'Bohemian Rhapsody', 'Hotel California', 'November Rain', 'Stairway to Heaven', 'Sweet Child O\' Mine']

# Write your code here
new_songs = {song for song in songs}
print(new_songs)
song = {i for i in new_songs if i[0]!='S' or i[-1]!='n'}  #if song name start with 'S' or song name end with 'n' - if anyone condition is true
print(song)

song1 = {i for i in new_songs if i[0]!='S' and i[-1]!='n'}  #if song name start with 'S' and song name end with 'n' - if both condition is true
print(song1)

{'November Rain', 'Hotel California', 'Stairway to Heaven', "Sweet Child O' Mine", 'Bohemian Rhapsody'}
{"Sweet Child O' Mine", 'Bohemian Rhapsody', 'November Rain', 'Hotel California'}
{'Bohemian Rhapsody', 'Hotel California'}

# **OOPs in Python**

## **Building a Simple Calculator** ðŸ§®ðŸ”¢


In this activity, you will build a simple calculator program in Python using Object-Oriented Programming (OOP) concepts.

In [ ]:
# Define a simple calculator class
class Calculator():
  def __init__(self,num1,operation,num2):
    self.num1 = num1
    self.num2 = num2
    self.operation = operation
  def calculator(self):
    if self.operation == '+' or self.operation == 'addition':
      result = self.num1+self.num2
      return result
    elif self.operation == '-' or self.operation == 'subtraction':
      result = self.num1 - self.num2
      return result
    elif self.operation == '*' or self.operation == 'multiplication':
      result = self.num1*self.num2
      return result
    elif self.operation == '/' or self.operation == 'division':
      if self.num2==0:
        raise ZeroDivisionError ('Cannot divide by zero')
      result = self.num1/self.num2
      return result

    else:
      return 'Enter the valid operation'

In [ ]:
# Test Case
num1 = int(input('Enter the 1st number: '))
operation = input('Enter the operation (+,-,*,/): ')
num2 = int(input('Enter the 2nd number: '))
calci = Calculator(num1,operation,num2)
calci.calculator()

Enter the 1st number: 3
Enter the operation (+,-,*,/): -
Enter the 2nd number: 1

2

## ðŸ€**Basketball Game Score Tracker**ðŸ“ˆ

Create a class that will keep track of the score of a basketball game. The class should have methods for updating the score and printing the current score.

In [ ]:
# Create BasketballGame class
class BasketballGame:
    def __init__(self):
        self.team1_score = 0
        self.team2_score = 0

    def update_score_team1(self, points):
        self.team1_score += points

    def update_score_team2(self, points):
        self.team2_score += points

    def print_score(self):
        print(f"Team 1 Score: {self.team1_score}")
        print(f"Team 2 Score: {self.team2_score}")

# Testing the class
game = BasketballGame()

game.update_score_team1(2)
game.update_score_team2(3)
game.update_score_team1(3)
game.update_score_team2(2)

game.print_score()

Team 1 Score: 5
Team 2 Score: 5

## ðŸŽ¨ **Paint Brush Class** ðŸ–Œï¸

Create a Python class for a paint brush that has the following properties:

* Size (small, medium, or large)
* Color (red, blue, green, or yellow)
* Brand (Winsor & Newton, Liquitex, or Grumbacher)
* Type (round or flat)

In [ ]:
# Define PaintBrush Class
class PaintBrush():
  def __init__(self, Size, Color, Brand, brush_Type):
    self.Size = Size
    self.Color = Color
    self.Brand = Brand
    self.brush_Type = brush_Type

  def paint(self):
    print(f'Brush Size: {self.Size}')
    print(f'Brush Color : {self.Color}')
    print(f'Brush Brand: {self.Brand}')
    print(f'Brush Type: {self.brush_Type}')

In [ ]:
# Test Case
Brush = PaintBrush(Size = 'Medium',Color = 'Red',Brand = 'Winsor & Newton',brush_Type = 'Round')

Brush.paint()

Brush Size: Medium
Brush Color : Red
Brush Brand: Winsor & Newton
Brush Type: Round

## **Bank Account Management System** ðŸ’»ðŸ¦

Create a Bank Account Management System using Object-Oriented Programming (OOPs) in Python. The system should allow users to create and manage bank accounts, deposit and withdraw funds, and view account details.

In [ ]:
# Define a BankAccount class
class BankAccount:
  def __init__(self,Name,Account_number,Balance):
    self.name = Name
    self.account_number = Account_number
    self.balance = Balance

  def deposit(self,amount):
    print(f'Previews Balance is : {self.balance} Rs')
    self.balance += amount
    print(f"Current Balance is : {self.balance} Rs")

  def withdraw(self,amount):
    if amount > self.balance:
      print('Your balance is less than the amount you want to withdraw')
      print(f'Your Current balance is {self.balance} Rs')
    else:
      self.balance -= amount
      print(f'Current balance is : {self.balance} Rs')

  def account_details(self):
    print(f'Account Holder name: {self.name}')
    print(f"Account_number : {self.account_number}")
    print(f"Total Balance: {self.balance} Rs")

In [ ]:
# Test Case

account = BankAccount('Sohel khatik',235345435,700)

In [ ]:
account.deposit(900)

Previews Balance is : 700 Rs
Current Balance is : 1600 Rs

In [ ]:
account.withdraw(100)

Current balance is : 1500 Rs

In [ ]:
account.account_details()

Account Holder name: Sohel khatik
Account_number : 235345435
Total Balance: 1500 Rs

# **Exception Handling**

## **Sum of first n Natural Numbers**

ðŸ’» Suppose you are working on a project that requires you to write a Python program that calculates the sum of the first n natural numbers. You wrote a program to solve the problem, but the code contains several errors that prevent it from executing properly. âŒ

Your task is to identify and rectify the errors in the code and write the correct program. ðŸ› ï¸

![Sum-of-natural-numbers.png]()

In [ ]:
# Code with errors
n = input("Enter a number: ")
sum = 0
for i in range(0, n+1):
  sum = sum + i
print("The sum of the first", n, "natural numbers is", sum

In [ ]:

# Write your code here
# Code with errors
n = int(input("Enter a number: ")) #added int function before input
sum = 0
for i in range(0, n+1):
  sum = sum + i
print("The sum of the first", n, "natural numbers is", sum) #added parenthisis

Enter a number: 5
The sum of the first 5 natural numbers is 15

## **Average Temperature** ðŸŒ¡ï¸ðŸŒ¡ï¸

You have been given a task to develop a program that calculates the average temperature ðŸŒ¡ï¸ of a city ðŸ¢ for a given week. You have written a program to solve the problem, but there seems to be some logical errors that are causing the program to output incorrect results. You are provided with two sets of weekly temperatures and need to find the average of each individual week.

Your task is to identify and rectify the logical errors in the code and write the correct program.

In [ ]:
temperatures_w1 = [32, 34, 31, 30, 29, 28, 33]
temperatures_w2 = [31, 34, 35, 28, 29]

In [ ]:
sum = 0

for temp in temperatures_w1:
  sum += temp
  avg = sum / len(temperatures_w1)
print(avg)

sum = 0
for i in temperatures_w2:
  sum += i
  avg = sum/len(temperatures_w2)
print(avg)

31.0
31.4

## **Handle that Error!** âŒâŒ

You are developing a Python program that requires user input. You want to make sure that your program doesn't crash due to invalid user input or unexpected errors ðŸ›‘. You have heard about exception handling in Python and want to implement it in your program to handle errors gracefully.

Your task is to implement exception handling in your program to handle invalid user input and unexpected errors.

In [ ]:
# Write your code here
try:
  num1 = int(input("Enter the first number: "))
  num2 = int(input("Enter the second number: "))

  result = num1/num2
  print("The result is: ", result)
except ZeroDivisionError:
    print('Cannot divide by zero')
except ValueError:
  print('Invalid input, Enter the numeric value')
except Exception:
  print('There is some error')

## **What's the time?** âŒšâŒš

Create a class Time which takes two inputs: hours and minutes to instantiate.

* Construct a method DisplayTime() which displays the time in AM/PM formats.

 * For example if the input is 14 hours and 45 mins, then this method will print "The time is 2:45 PM".
 * If the inputted hours exceeds 23 then print the message "The input hours should be less than 24" and if the inputted minutes exceeds 59 then print the message "The input minutes should be less than 60."
 * Also if the input is 12 hours 30 minutes, then the displayed time would be 12:30 PM

* Construct a method DisplayRatio() which should display the ratio of minutes to hours.
 * For example, (8 hours and 16 mins) should display 2. Use try, except block to account for ZeroDivisionError.

In [ ]:
# Write your code here

class Time:
  def __init__(self,hours,minutes):
    self.hours = hours
    self.minutes = minutes

  def show_time(self):
    if self.hours <0 or self.hours>23:
      print('Hours should be less than 24')
    elif self.minutes<0 or self.minutes > 59:
      print('Minutes should be less than 60')
    else:
      meridian = 'AM' if self.hours <12 else 'PM'
      display_hours = self.hours if self.hours <= 12 else self.hours - 12
      print(f'The time is {display_hours}:{self.minutes}:{meridian}')

  def display_ratio(self):
    ratio = self.minutes/self.hours
    print(f'The ratio of minutes to hour is {round(ratio,2)}')

In [ ]:
time1 = Time(9, 45)
time1.show_time()
time1.display_ratio()

The time is 9:45:AM
The ratio of minutes to hour is 5.0